table{
	width:90%;
	margin:5px auto;
	border:1px solid #3333ff;
}
table th{
	text-align:center;
	height:10px;
	border:1px solid #3333ff;
	color:white;
	background-color:#0000cc;
	width:20%;
	padding:0px 11px;
}
table td{
	border:1px solid #3333ff;
	color:#0000cc;
	height:20px;
	font-size:24px;
	padding:0px 10px;
}
#a{
	width:10%;
}